@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 190 76% 6%;
    --foreground: 0 0% 100%;

    --card: 190 71% 10%;
    --card-foreground: 0 0% 100%;

    --popover: 190 71% 10%;
    --popover-foreground: 0 0% 100%;

    --primary: 15 100% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 190 71% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 191 47% 16%;
    --muted-foreground: 174 13% 68%;

    --accent: 191 47% 16%;
    --accent-foreground: 0 0% 100%;

    --destructive: 15 100% 54%;
    --destructive-foreground: 0 0% 100%;

    --border: 191 47% 16%;
    --input: 191 47% 16%;
    --ring: 15 100% 54%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #04191d;
}

::-webkit-scrollbar-thumb {
  background: #ff4d14;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d63d0c;
}
